@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    padding: 3rem;
    font-family: "Nanum Gothic",sans-serif;
}
