$color-primary:#888;
$color-secondary:#e8e8e8;
$color-white:#fff;

$color-blue-1:#a8d8ff;
$color-blue-2:#c1e1ff;
$color-blue-3:#d6eaff;
$color-blue-dark:#3f4a56;
$color-red-1:#c40d2e;

$color-grey-light:#b9b9b9;
$color-grey-dark:#474747;

